<!DOCTYPE html>
<html>
  <head>
    <title>RailsElearningAkihoNaoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
  </head>

  <body class='<%= "#{controller.controller_name}" %>'> 
    <div id="wrapper">
      <%= render "layouts/header" %>
      <% if flash.any? %>
        <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %> m-0">
          <div><%= msg %></div>
        </div>
        <% end %>
      <% end %>
        <%= yield %>
      <!-- <%= debug session[:user_id] if Rails.env == "development" %> -->
    </div>
  </body>
</html>
